<%- include('partials/header'); -%>
<h1>About</h1>
<p> I am Chetan Anjana, I'am a Computer Science Student at GSU and I have lot of Interest in Web Development. I created this website so that I could take note's everyday. Moreover if I busy in class understanding the topic then it has feature where we can start the voice recognition feature and this website automatically takes all the voice as input and convert it to written text. </p>
<p>
  If we go to compose page we can compose new notes or any other blog by either writting text or speaking.
  </p>

<%- include('partials/footer'); -%>
