<%- include('partials/header'); -%>
<p>
  <h1>Contact</h1>
  <h4>Name: Chetan Anjana</h4>
  <h4>Email: chetananjana75153@gmail.com</h4>
  <h4>Contact Number: 4708156782</h4>
  <h4>Github: ChetanAnjana</h4>
</p>
<%- include('partials/footer'); -%>
